@keyframes slideLeft {
  0% {

  }
  100% {
    right: 0;
  }
}
@keyframes logo-an {
  0% {

  }
  100% {
    left: -115%;
  }
}

@keyframes logo-position {
  0% {
  }
  100%{
    padding-left: 0.7em;
  }
}

@keyframes initialCentering {
  0% {

  }
  100% {
    margin: 6% 2%;
    padding-top: 0%;
    padding-left: 0;
    font-size: 3em;
  }
}

@keyframes outline {
  from {

  }
  to {
    color: transparent;
  }
}

@keyframes logo-enter {
  from {
    left: -116%;
  }
  to {
    left: 0.7em;
  }
}

@keyframes logo-leave {
  from {

  }
  to {
    left: -116%;
  }
}

@keyframes nav-slide {
  from {

  }
  to {
    margin-left: 7%;
  }
}

@keyframes appear {
  from {

  }
  to {
    opacity: 100%;
  }
}

@keyframes vid-appear {
  from {

  }
  to {
    opacity: 40%;
  }
}

@keyframes moveUp {
  0% {
  }
  100% {
      bottom: 100%;
  }
}

body {
  background-color: black;
  overflow: hidden;
}

#video-background {
  opacity: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
  animation: vid-appear 1s ease-in-out forwards;
  animation-delay: 4s;
  mask-image: linear-gradient(to right, transparent 0%, transparent 0%, black 100%, black 100%, black 100%)
}

.bephomet {
  position: fixed;
  height: 91%;
  width: auto;
  bottom: 0;
  z-index: 1;
  right: -40%;
  animation: slideLeft 2s ease-in-out forwards;
  animation-delay: 3s;
}

.main .about-me-animation h1 {
  transform: rotate(-90deg);
  z-index: -1;
  margin: 20% 9%;
  font-size: 150px;
  font-family: Roboto Black;
  position: absolute;
  bottom: -100%;
  animation: moveUp 20s linear infinite;
  right: 1.35em;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  font-stretch: ultra-expanded;

}

.main .about-me-animation .about-me1 h1 {
  animation-delay: 4.5s;
}
.main .about-me-animation .about-me2 h1 {
  animation-delay: 14.5s;
}

.main h1 .X-sub {
  color: white;
}

/* Logo */
.logo-container {
    position: fixed;
    font-size: 6em;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-height: 100%;
    padding-top: 21%;
    margin-left: 44%;
    animation: initialCentering 3s forwards 3s, logo-position 1.7s forwards 1.7s;
}

.logo {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1.2em;
    width: 1.87em;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
}

.hidden {
  z-index: -2;
  position: absolute;
  left: 0.7em;
  animation: logo-leave 1.7s forwards, outline 1.7s forwards;
  animation-delay: 1.7s, 2s;
  color: white;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.logo:hover .hidden {
  animation: logo-enter 0.5s forwards;
}

.x {
  transition: all 0.5s ease-in;
  color: white;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.logo:hover .x {
  color: rgba(255, 0, 0, 0.76);
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.76), 0 0 20px rgba(255, 0, 0, 0.76), 0 0 30px rgba(255, 0, 0, 0.76);
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}

.nav img{
  margin-left: -4%;
  width: 2.5%;
  margin-bottom: 3.5em;
  animation: nav-slide 1s forwards;
  animation-delay: 6s;
  position: relative; 
  opacity: 100%;
  
}

.nav .linkedin img{
  animation-delay: 4s;
}

.nav .github img{
  animation-delay: 4.5s;
}

.nav .twitterx img{
  animation-delay: 5s;
}

.nav .inbox img{
  animation-delay: 5.5s;
}
/* second nav */
.nav2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}

.nav2 img{
  margin-left: -4%;
  width: 2.5%;
  margin-bottom: 3.5em;
  animation: nav-slide 1s forwards;
  animation-delay: 6s;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.nav2 .linkedin2 img{
  animation-delay: 4s;
}

.nav2 .github2 img{
  animation-delay: 4.5s;
}

.nav2 .twitterx2 img{
  animation-delay: 5s;
}

.nav2 img:hover {
  opacity: 100%;
}

.navs:hover + .nav img {
  opacity: 0%;
}

.about-me-text {
  position: relative;
  padding-top: 300px;
  margin-left: 15%;
  color: rgba(255, 255, 255, 0.8);
  font-family: montserrat;

  opacity: 0%;
  animation: appear 1s forwards 4.7s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16%;
  }
}

@keyframes border-disappear {
  0% {
    border-right: 0.15em solid rgba(255, 255, 255);
  }
  25% {
    border-right: 0.15em solid transparent;
  }
  50% {
    border-right: 0.15em solid rgba(255, 255, 255);
  }
  60% {
    border-right: 0.15em solid rgba(255, 255, 255);
  }
  100% {
    border-right: 0.15em solid transparent;
  }
}

@keyframes border-appear {
  from {
    border-right: 0.15em solid transparent;
  }
  to {
    border-right: 0.15em solid rgba(255, 255, 255);
  }
}

.typewriter-text {
  color: white;
  width: 0;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  animation: border-appear 0.5s forwards, typing 1s steps(14) forwards, border-disappear 1s ease-in-out forwards;
  animation-delay: 5.8s, 6s, 7.4s;
  padding-left: -2em;
}

.about-me-text a {
  text-decoration: none;
  width: 15%;
}

.about-me-text a::before {
  content: "";
  position: absolute;
  width: 15.8%;
  height: 3px;
  bottom: -0.4em;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.about-me-text a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button1{
  position: relative;
  overflow: hidden; 
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent; 
  transition: background-color 0.3s ease; 
  cursor: pointer;
  outline: none;
  margin-left: 15%;
  margin-top: 7%;
}

.buttons .button1:hover {
  background-color: white;
}

.button1 img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.button2{
  position: relative;
  overflow: hidden; 
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  outline: none;
  margin-left: 1.5%;
  margin-top: 7%;
}

.buttons .button2:hover {
  background-color: white;
}

.button2 img {
  width: 50%;
  height: auto;
  object-fit: cover;
  transform: scaleY(-1);
}

.buttons button{
  opacity: 0;
  animation: appear 1s forwards 4.7s;
}

.arrow {
  z-index: -2;
}



.cool-transition {
  /* Add your cool transition styles here */
  transition: all 1s ease-in-out; /* Example transition, you can customize it */
  color: /* Your desired color */;
  /* Add any other styles for the transition effect */
}





